#message {
  position: absolute; 
  top: 91%; 
  left: 50%; 
  width: 60%; 
  height: 7%; 
  outline: none; 
  background-color: #767676; 
  border: none; 
  font-family: Tajawal; 
  font-size: 20px; 
  font-style: bold;
  color: black;
}

#username {
  font-family: Barlow; 
  font-size: 22px;
}

#msg {
  font-family: 'Varela Round'; 
  font-size: 20px;
}

#sys_msg {
  font-family: 'Nunito'; 
  font-size: 20px;
}

::placeholder {
  color: #000000;
}

#pfp_box {
  position: absolute;
  top: 75%;
  left: 48%;
  font-size: 20px;
  font-family: Tajawal;
}

#pfp_text {
  position: absolute;
  top: 63%;
  left: 50%;
  font-size: 20px;
  font-family: Tajawal;
}

html {
  overflow-y: hidden;
}

body {
  overflow-y: hidden;
}

center {
  overflow-y: hidden;
}

div {
  overflow-y: hidden;
}