#name {
  position: absolute; 
  top: 83%;
  left: 50%; 
  width: 50%; 
  height: 7%; 
  outline: none; 
  background-color: #767676; 
  border: none; 
  font-family: Tajawal; 
  font-size: 20px; 
}

#password {
  position: absolute; 
  top: 91%; 
  left: 50%; 
  width: 50%; 
  height: 7%; 
  outline: none; 
  background-color: #767676; 
  border: none; 
  font-family: Tajawal; 
  font-size: 20px; 
}