#onlineMsg {
  position: absolute;
  font-size: 20px;
  top: 0%; 
  left: 89.3%;
  font-family: 'Nunito';
}
#connectedUsers {
  position: absolute;
  font-size: 22px;
  top: 10%; 
  left: 89.8%; 
  font-family: 'Quicksand';
}